@using bacit_dotnet.MVC.Models.Suggestions
@model SuggestionViewModel

<form asp-action="addSuggestion" method="post">
    <label for="Title">Title</label>
    <input name="Title" type="text" />
    Work In Progress
    <input value="Lag Forslag" type="submit" />
</form>
