@using bacit_dotnet.MVC.Models.Suggestions
@model SuggestionEntity

<form asp-action="addSuggestion" method="post">

    <h1 style="text-align:Center">Skriv inn ditt forbedringsforslag:</h1>


    <li class="list-unstyled">
            <label for="Title">Emne:</label><br />
            <input class="form-control" type="text" name="Title" placeholder="Emne"><br /><br />
        </li>
        <li class="list-unstyled">
            <label for="Team">Avdeling:</label><br />
            <select class="form-control" name="Team">
                <option value="1">Salg og Marked</option>
                <option value="2">Produksjon</option>
                <option value="3">Teknisk</option>
                <option value="4">Logistikk</option>
            </select> <br /><br />
        </li>
        <li class="list-unstyled">
            <label for="Category">Kategori:</label><br />
            <select class="form-control" name="Category">
                <option value="1">Jadajada</option>
                <option value="2">Neidaneida</option>
                <option value="3">OkOk</option>
                <option value="4">BlaBla</option>
            </select> <br /><br />
        </li>
        <li class="list-unstyled">
            <label for="Deadline">Frist:</label><br />
            <input class="form-control" type="date" name="Deadline" /> <br /><br />
        </li>
        <li class="list-unstyled">
            <label for="Status">Status:</label><br />
            <select class="form-control" name="Status">
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
                <option value="Cancelled">Cancelled</option>
            </select> <br /><br />
        </li>
        <li class="list-unstyled">
            <label for="Phase">Fase:</label><br />
            <select class="form-control" name="Phase">
                <option value="Plan">Plan</option>
                <option value="Do">Do</option>
                <option value="Study">Study</option>
                <option value="Act">Act</option>
            </select> <br /><br />
        <li class="list-unstyled">
            <label for="Description">Forbedringsforslag:</label><br />
            <textarea class="form-control" id="exampleFormControlTextarea1" name="Description" rows="3"></textarea>
    </li> <br />
        <li class="list-unstyled">
            <input class="btn btn-dark form-control" type="submit" value="Lagre" />
        </li>
    
</form>
<br />
<form asp-action="Index">
    <input type="submit" class="form-control btn btn-danger" value="Avbryt og gå tilbake" />
</form>
