@using bacit_dotnet.MVC.Models.Suggestions
@model SuggestionViewModel

<form asp-action="addSuggestions" method="post">

    <h1>Skriv inn ditt forbedringsforslag:</h1>

    <ul>
        <li>
            <label for="Title">Emne:</label><br />
            <input type="text" name="Title" placeholder="Emne"><br /><br />
        </li>
        <li>
            <label for="Team">Avdeling:</label><br />
            <select name="Avdeling" id="Team">
                <option value="Sales and Market">Salg og Marked</option>
                <option value="Production">Produksjon</option>
                <option value="Technical">Teknisk</option>
                <option value="Logistics">Logistikk</option>
            </select> <br /><br />
        </li>
        <li>
            <label for="Category">Kategori:</label><br />
            <select name="Kategori" id="Category">
                <option value="Jadajada">Jadajada</option>
                <option value="NeidaNeida">Neidaneida</option>
                <option value="OkOk">OkOk</option>
                <option value="Blabla">BlaBla</option>
            </select> <br /><br />
        </li>
        <li>
            <label for="Deadline">Frist:</label><br />
            <input type="datetime-local"/> <br /><br />
        </li>
        <li>
            <label for="Phase">Fase:</label><br />
            <input type="text" name="Phase" placeholder="Fase" required /><br /><br />
        </li>
        <li>
            <label for="Priorization">Prioritering:</label><br />
            <select name="Prioritering" id="Priorization">
                <option value="Lav">Lav</option>
                <option value="Middels">Middels</option>
                <option value="Høy">Høy</option>
            </select><br /><br />
        </li>
        <li>
            <label for="Description">Forbedringsforslag:</label><br />
            <input type="text" name="Description" placeholder="Skriv inn forbedringsforlsag" required style="height:100px; width:300px;" /><br /><br />
        </li>
        <li>
            <input type="submit" value="Lagre" />
        </li>
    </ul>
</form>
