@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Ingen tilgang</h1>
<p style="text-align:center;">Du har ikke tilgang til denne siden</p>
<form asp-action="Index" asp-controller="Suggestions" method="get" >
    <input class="form-control btn btn-dark" type="submit" value="Gå til hoved side"/>
</form>