@model bacit_dotnet.MVC.Models.RazorViewModel
<h1>Nordic Door </h1>
<form asp-controller="Suggestions">
    <input type="submit" value="Gå til Forslag" class="form-control btn btn-dark"/>
</form>
<br />
<form asp-action="Login">
    <input type="submit" value="Logg inn" class="form-control btn btn-secondary" />
</form>

