@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["returnUrl"] as string;
    var error = TempData["error"] as string;
}
<h2>Logg inn</h2>

<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlDecode(returnUrl)" method="post">
    <label for="EmployeeNumber">Ansatt Nummmer</label>
    <input class="form-control" type="text" name="EmployeeNumber" placeholder="EmployeeNumber" /> <br />
    <label for="Password">Passord</label>
    <input class="form-control" type="password" name="Password" placeholder="Password" /><br />
    <input type="submit" value="logg inn" />
</form>
@if (!string.IsNullOrEmpty(error))
{
    <h3 class="alert-danger">@error</h3>
}