@using bacit_dotnet.MVC.Models.Users
@model UserList
<form asp-action="Register">
    <input type="submit" value="Registrer deg"/>
</form>

<table>
    <tr>
        <td>Name</td>
        <td>Email</td>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td><form  asp-action="delete" asp-controller="users" method="post">
                <input type="hidden" name="Email" value="@user.Email"/>
                <input type="submit" value="Slett"/>
            </form>
            </td>
            <td>
                <form asp-action="index" asp-controller="users" method="get">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input type="submit" value="Endre" />
                </form>
            </td>
        </tr>   
    }
</table>
   