
@using bacit_dotnet.MVC.Models.Users
@model UserEntity

<form asp-action="AddUser" asp-controller="Users" method="post">

    <style>

    .btn-danger 
    {
            --bs-btn-color: #fff;
            --bs-btn-bg: #dc3545;
            --bs-btn-border-color: #dc3545;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #bb2d3b;
            --bs-btn-hover-border-color: #b02a37;
            --bs-btn-focus-shadow-rgb: 225, 83, 97;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #b02a37;
            --bs-btn-active-border-color: #a52834;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #dc3545;
            --bs-btn-disabled-border-color: #dc3544;
    }

    .btn-dark 
    {
            --bs-btn-color: #fff;
            --bs-btn-bg: #212529;
            --bs-btn-border-color: #212529;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #424649;
            --bs-btn-hover-border-color: #373b3e;
            --bs-btn-focus-shadow-rgb: 66, 70, 73;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #4d5154;
            --bs-btn-active-border-color: #373b3e;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #212529;
            --bs-btn-disabled-border-color: #212529;
    }

    </style>
    
    
    <h1>Registrer bruker</h1><br />

    <label for="EmployeeNumber">Ansattnummer</label><br />
    <input class="form-control" type="text" name="EmployeeNumber" required /><br />

    <label for="Name">Navn</label><br />
    <input class="form-control" type="text" name="Name" required /><br />

    <label for="Email">E-post</label><br />
    <input class="form-control" type="text" name="Email" required /><br />

    <label for="Password">Passord</label><br />
    <input class="form-control" type="password" name="Password" required /><br />

    <label for="Repeat Password">Gjenta passord</label><br />
    <input class="form-control" type="password" name="Gjenta Password" required /><br />

    <button type="button" class="btn-dark">Registrer bruker</button>

    <button type="button" class="btn-danger">Avbryt og gå tilbake</button>

</form>