
@using bacit_dotnet.MVC.Models.Users
@model UserEntity

<form asp-action="AddUser" asp-controller="Users" method="post">

    <style>
    .button 
    {
        background-color: #2196F3;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .button:hover 
    {
        background-color: #1976D2;
    }

    .button2 
    {
        background-color: red;
        margin-right: 20px;
    }

    .button2:hover 
    {
        background-color: darkred;
    }

    </style>
    
    
    <h1>Registrer bruker</h1><br />

    <label for="EmployeeNumber">Ansattnummer</label><br />
    <input class="form-control" type="text" name="EmployeeNumber" required /><br />

    <label for="Name">Navn</label><br />
    <input class="form-control" type="text" name="Name" required /><br />

    <label for="Email">E-post</label><br />
    <input class="form-control" type="text" name="Email" required /><br />

    <label for="Password">Passord</label><br />
    <input class="form-control" type="password" name="Password" required /><br />

    <label for="Repeat Password">Gjenta passord</label><br />
    <input class="form-control" type="password" name="Gjenta Password" required /><br />

    <button type="button" class="button">Registrer bruker</button>

    <button type="button" class="button button2">Avbryt og gå tilbake</button>

</form>