@using bacit_dotnet.MVC.Models.Teams
@model TeamList



@{
    ViewBag.Title = "Index";
}
<div><b>Teams/Avdeling</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>TeamID </th>
        <th>Team </th>
        
    </tr>
    @foreach (var team in Model.Teams)
    {
        <tr>
            <td>@team.TeamID</td>
            <td>@team.Team</td>
            <td>
                <form asp-action="delete" asp-controller="teams" method="post">
                    <input type="hidden" name="Team" value="@team.Team" />
                    <input type="submit" value="Slett" />
                </form>
            </td>
        </tr>
    }
</table>
<form asp-action="Register">
    <input type="submit" value="Opprett Team" />
</form>