@using bacit_dotnet.MVC.Models.Teams
@model TeamList



@{
    ViewBag.Title = "Index";
}
<div><b>Teams/Avdeling</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>TeamID </th>
        <th>Team </th>
        
    </tr>
    @foreach (var team in Model.Teams)
    {
        <tr>
            <td>@team.TeamID</td>
            <td>@team.TeamName</td>
            <td>
                <form asp-action="delete" asp-controller="teams" method="post">
                    <input type="hidden" name="TeamId" value="@team.TeamID" />
                    <input type="submit" onclick="return confirm('Er du sikker på at du vil slette?')" value="Slett" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    }
</table>
<form asp-action="Register">
    <input type="submit" class="btn btn-dark form-control" value="Opprett Team" />
</form>